name: tauri-build-windows

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/tauri-build

      - name: upload msi
        uses: actions/upload-artifact@v4
        with:
          name: windows-msi
          path: src-tauri/target/release/bundle/msi/*.msi
          if-no-files-found: ignore

      - name: upload nsis
        uses: actions/upload-artifact@v4
        with:
          name: windows-nsis
          path: src-tauri/target/release/bundle/nsis/*.exe
          if-no-files-found: ignore
